body {
  font-family:sans-serif;
}

#container{
  margin : 0 auto;

}

#container div{
  text-align: center;
  font-size : 24px;

}

.todo-container{
  text-align: center;
  margin-top: 20px;
}

.todo-container .list{
  margin : 20px;
  
}

.todo-container .list .item{
  margin : 10px;
  padding-left:80px;
  text-align: left !important;
  
}
